// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

// Thanks to http://hiltmon.com/blog/2013/05/08/octopress-now-has-footnotes/
.footnotes {
  font-size: 13px;
  line-height: 16px;
  color: #666;

  p {
    margin-bottom: 6px;
  }
}

.cc-license {
  text-align: center;
  font-size: 13px;
  a {
    white-space: nowrap;
    img {
      border-width: 0;
    }
  }
  a:first-child {
    text-decoration: none;
  }
}

.revision {
  font-size: 13px;
  p {
    margin-bottom: 0.2em;
  }
}
